:root {
  --mouse-cursor: default;
}

.brush-hover {
  --mouse-cursor: crosshair;
}
.board:hover {
  cursor: var(--mouse-cursor);
}

.canvas-1 {
  background-color: gray;
}

.board {
  display: grid;
  place-content: center;
}
