input[type='radio']:checked + .icon {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 4px rgb(0, 0, 0);
}
.icon {
  padding: 0.3em 0.4em;
}
.tool-box {
  
  width: 5rem;
  z-index: 110;
}
