/* general util classes implementation */

:root {
  --palette-height: 4rem;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-bottom {
  bottom: 0;
}
.pos-right {
  right: 0;
}
.pos-top {
  top: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
.flex-col-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.height-max {
  height: 100%;
}
.width-max {
  width: 100%;
}

.grid-center {
  display: grid;
  place-content: center;
}

.height-auto {
  height: auto;
}

.flex-grow {
  flex-grow: 1;
}

.p-1 {
  padding: 0.3em;
}

.m-1 {
  margin: 0.3em;
}

.palette {
  margin: 0 0 0.5em;
  /* height: var(--palette-height); */
  z-index: 100;
}

.rounded-1 {
  border-radius: 1rem;
}

.shadow-1 {
  box-shadow: 3px 3px 3px rgb(182, 182, 182);
}

.border-small {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px rgb(0, 0, 0);
}

.text-center {
  text-align: center;
}

.disp-no {
  display: none;
}

.flat-button {
  background-color: transparent;
  border: 0.1px solid;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.1em 0.8em;
  margin: 0.1em;
}

.flat-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.flat-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.canvas-container:hover {
  cursor: var(--mouse-cursor, crosshair);
}
